#ninehole {
    position: absolute;
    top: 167px;
    left: 258px;
    width: 680px;
    /*border: 1px solid #404040;*/
}

#ninehole  {
    /*margin: 0 -20px -20px -20px;*/
    /*display: inline-block;*/
}

#ninehole div {
    display: inline-block;
    position: absolute;
    top: 115px;
    left: 226px;
    /*height: 100px;*/
    /*margin-right: 22px;*/
    /*margin-bottom: 11px;*/
    list-style: none;
}

#ninehole div.hole1 {
    margin-top: -115px;
    margin-left: -226px;
}
#ninehole div.hole2 {
    margin-top: -115px;
}
#ninehole div.hole3 {
    margin-top: -115px;
    margin-left: 226px;
}
#ninehole div.hole4 {
    margin-top: 0;
    margin-left: -226px;
}
#ninehole div.hole5 {
}
#ninehole div.hole6 {
    margin-left: 226px;
}
#ninehole div.hole7 {
    margin-top: 115px;
    margin-left: -226px;
}
#ninehole div.hole8 {
    margin-top: 115px;
}
#ninehole div.hole9 {
    margin-top: 115px;
    margin-left: 226px;
}

#ninehole div img {
    /*border: 1px solid #fff;*/
    border-radius: 4px;
    -moz-box-shadow:    0px 0px 5px 2px #131313;
    -webkit-box-shadow: 0px 0px 5px 2px #131313;
    box-shadow:         0px 0px 5px 2px #131313;
}